{% extends "base.html" %}

{% block content %}
{% if person %}
    <h2>Hello {{ person }}!</h2>
{% else %}
    <h2>Hello, world!</h2>
{% endif %}
    <p>MY DEAR BROTHER,—I can no longer refuse myself the pleasure of profiting by your kind invitation when we last parted of spending some weeks with you at Churchhill, and, therefore, if quite convenient to you and Mrs. Vernon to receive me at present, I shall hope within a few days to be introduced to a sister whom I have so long desired to be acquainted with. My kind friends here are most affectionately urgent with me to prolong my stay, but their hospitable and cheerful dispositions lead them too much into society for my present situation and state of mind; and I impatiently look forward to the hour when I shall be admitted into your delightful retirement.</p>
{% endblock %}
